@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');

*{
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  display:flex;
  flex-direction: column;
  align-items: center;
  height:100vh;
  overflow:hidden;
  margin:0;
}

h1 {
  color: rgb(6, 15, 139);
  font-size: clamp(2rem, 3.5vw, 4rem);
}

.container {
  display: flex;
  width: 90vw;
}

.card{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 1rem;
  color:white;
  cursor: pointer;
  flex:0.5;
  margin: 1rem;
  position: relative;
  transition: flex 0.7s ease-in-out;
}

.card h3{
  font-size: clamp(1rem, 2.5vw, 2rem);
  position: absolute;
  bottom:1.25rem;
  left: 1.25rem;
  margin:0;
  opacity: 0;
}

.card.active{
  flex:5;
  /* border: 0.33rem solid rgb(6, 15, 139); */
  transform: scale(1.05);
}

.card.active h3{
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width:480px) {
  .container{
    width:100vw;
  }
  .card:nth-of-type(4),
  .card:nth-of-type(5){
    display: none;
  }
}